
<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
	<head>
		
		<title> Ruby on Rails Tutorial Sample App | <%=yield(:title)%></title></title>
		
	</head>	
	<body>
		
<h1>Help</h1>
<p>
		
get help on Ruby On Rails Tutorial at the 

	<a href="http://railstuturial.org/help">Rails Tutorial help page</a>
	
	To get help on this sample app,see the 
		<a href="http://railstuturial.org/book">Rails Tutorial book</a>.
		

</p>	

	</body>
	</html>